name: React Build and Release [wf-web] # 1/4

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

# ==== 变量修改 开始 ====
env:
  APP_NAME: wf-web                   # 2/4 基础名称
  WORKING_DIRECTORY: ./web           # 3/4 package.json 所在的位置
# ==== 变量修改 结束 ====

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      # 1. 检出代码
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. 设置 Node.js 环境 (npm)
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: '${{ env.WORKING_DIRECTORY }}/package-lock.json'

      # 3. 安装依赖并构建项目 (npm)
      - name: Build project
        env:
            VITE_API_URL: ${{ vars.VITE_API_URL }} # 4/4 设置构建时的环境变量
        run: |
          npm ci
          npm run build
        working-directory: ${{ env.WORKING_DIRECTORY }}

      # 4. 将构建产物打包成压缩文件
      - name: Package artifact
        run: |
          # dist 目录是从 WORKING_DIRECTORY 内部生成的
          # 所以打包时要先进入 WORKING_DIRECTORY
          cd ${{ env.WORKING_DIRECTORY }}
          tar -zcvf ../${{ env.APP_NAME }}-${{ github.ref_name }}.tar.gz dist

      # 5. 创建 Release 并上传构建产物
      - name: Create Release & upload artifact
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          files: ${{ env.APP_NAME }}-${{ github.ref_name }}.tar.gz # 要上传的压缩文件名，例如: my-app-v1.0.0.tar.gz
          token: ${{ secrets.GITHUB_TOKEN }} # 自动生成，无需设置
